.item_number {
    position: absolute;
    top: -5px;
    left: 100%;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}